<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Form</title>
	<link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
	<h1>Contacto</h1>
	<form action="/contacto" method="post">
	<li>Nombre <input name="nombre" type="text"><br></li>
	<li>Correo <input name="correo" type="email"><br></li>
	<li>Comentarios <input name="comentarios" type="text"><br></li>
	<li><input type="submit"></li>
	</form>
</body>
</html>
